$color: #f7eb80;
* {
    color: #f7eb80;
}
.container {
    background-color: #6e7a5b;
    border: 1px solid #000;
}
.left {
    background-color: #a6ad80;
}
.right {
    background-color: #a6ad80;
}
.button {
    background-color: #dcf829;
    color: #6e7a5b;
}